<!DOCTYPE html>
<html>
  <head>
    <title>Motivo - Find your dream car!</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1 style="text-align: center; color: blue">
      Motivo: Find your dream car!
    </h1>

    <form method="POST" style="text-align: center">
      <label>Min Price:</label>
      <select name="min_price">
        <option>5000</option>
        <option selected>10000</option>
        <option>15000</option>
        <option>20000</option>
        <option>25000</option>
        <option>40000</option>
        <option>50000</option>
      </select>
      <br /><br />

      <label>Max Price:</label>
      <select name="max_price">
        <option>10000</option>
        <option>20000</option>
        <option>30000</option>
        <option>40000</option>
        <option selected>50000</option>
        <option>60000</option>
        <option>70000</option>
        <option>80000</option>
      </select>
      <br /><br />

      <label>Fuel:</label>
      <select name="fuel">
        <option>Gasoline</option>
        <option>Diesel</option>
        <option>Hybrid</option>
        <option>Electric</option>
      </select>
      <br /><br />

      <label>Body:</label>
      <select name="body">
        <option>Any</option>
        <option>Sedan</option>
        <option>SUV</option>
        <option>Pickup Truck</option>
        <option>Passenger Van</option>
        <option>Cargo Van</option>
        <option>Hatchback</option>
        <option>Convertible</option>
        <option>Minivan</option>
      </select>
      <br /><br />

      <label>Make:</label>
      <select name="make">
        <option>Any</option>
        <option>Jeep</option>
        <option>GMC</option>
        <option>Dodge</option>
        <option>RAM</option>
        <option>Nissan</option>
        <option>Ford</option>
        <option>Hyundai</option>
        <option>Chevrolet</option>
        <option>Volkswagen</option>
        <option>Chrysler</option>
        <option>Kia</option>
        <option>Mazda</option>
        <option>Subaru</option>
        <option>Audi</option>
        <option>BMW</option>
        <option>Toyota</option>
        <option>Buick</option>
        <option>Mercedes-Benz</option>
        <option>Honda</option>
        <option>Lincoln</option>
        <option>Cadillac</option>
        <option>INFINITI</option>
        <option>Lexus</option>
        <option>Land Rover</option>
        <option>Volvo</option>
      </select>

      <br /><br />

      <button type="submit">Search</button>
    </form>
  </body>
</html>
